---
---

@import "{{ site.theme }}";

.bio-pic {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 33%;
    height: auto;
}

.nav-bar {
    background-image: linear-gradient(120deg, #155799, #159957);
    display: flex;
    padding: 10px;
}

.nav-bar a:first-child {
    margin-right: auto;
    margin-bottom: 0px;
    float: left;
}

.nav-bar a {
    float: right;
    margin-bottom: 0px;
}

@media screen and (max-width: 42em) {
    .nav-bar a {
        margin-top: 1rem;
    }
}

.page-name {
    text-align: center;
    margin-top: 50px;
}
